<div class="footer">
  <nav class="links">
    <ul>
      <p>Quick links</p>
      <li><a routerLink="home"> Home</a></li>
      <li><a routerLink="about"> About</a></li>
      <li><a routerLink="contact"> Contact</a></li>
    </ul>
  </nav>
  <div class="copyRight">
    <p>&copy; Copyright 2022</p>
  </div>
  <nav class="social">
    <ol>
      <li><a target="_blank" href="https://www.walla.com/">Walla</a></li>
      <li><a target="_blank" href="https://twitter.com/">Twitter</a></li>
      <li><a target="_blank" href="https://www.ynet.co.il/">Ynet</a></li>
    </ol>
  </nav>
</div>
